<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Click the following link to validate ypur email address and sign in.</h1>
    <p> <a href="<%= @link %>"><%= @link %></a>
    </p>
  </body>
</html>