<% check_logged_in %>


<p id="notice"><%= notice %></p>

<% @courses.each do |course| %>
    <div class="card">
	  <p><%= course.name %></p>
	  <paper-button class="view" label="View" onclick='location.href="<%= course_path(course) %>"' raisedButton></paper-button>
	  <paper-button class="takeAttendance" label="Take Attendance" onclick='location.href="<%= new_course_meeting_path(course) %>"' raisedButton></paper-button>
    </div>
<% end %>

