<div style="text-align: center;">
  <h1><b>Text Attendance</b> (Beta)</h1>
  <br>
  <div class="well">
    <h3>Take attendance for your next large lecture, seminar, or class through SMS.</h3>
    <h3>It's <b>Easy</b>, it's <b>Fast</b>, and it <b>Scales</b>.</h3>
  </div>
</div>